@import url('https://fonts.googleapis.com/css?family=Coda');
@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave');

html, body{
	background: #ecf0f1;
	text-align: center;
}
.center{
	width: 372px;
	margin: 0 auto;
	background: linear-gradient(160deg, #16a085 0%, #8e44ad 100%);
	margin-top: 10px;
	border-radius: 10px;
	padding: 10px;
}
.img{
	display: inline-block;
	width: 90px;
	height: 120px;
	background: #2c3e50;
	border-radius: 10px;
}
#time{
	margin: 0 auto;
	max-width: 520px;
	margin-top: 10px;
	font-family: "Sedgwick+Ave";
	font-size: 30px;
	text-align: center;
    color: #2c3e50;
}
h1{
	margin-top: 10px;
	font-family: "Coda";
	font-size: 30px;
	text-align: center;
    color: #2c3e50;
}

